@page
@model Web.Pages.Productos.DetalleModel
@{
}
<h1>Detalle Producto</h1>

<div class="container">

    <div class="col-md-8">

        <div class="card shadow-sm">

            <div class="card-body">

                <h5 class="card-title">
                    @Html.DisplayFor(modelo => modelo.Producto.Nombre)
                </h5>

                <p class="text-muted">
                    Categoría: @Html.DisplayFor(modelo => modelo.Producto.Categoria) |
                    SubCategoría: @Html.DisplayFor(modelo => modelo.Producto.SubCategoria)
                </p>

                <div class="mb-2">
                    <b>@Html.DisplayNameFor(modelo => modelo.Producto.Descripcion):</b>
                    @Html.DisplayFor(modelo => modelo.Producto.Descripcion)
                </div>

                <div class="mb-2">
                    <b>@Html.DisplayNameFor(modelo => modelo.Producto.Precio):</b>
                    $@Html.DisplayFor(modelo => modelo.Producto.Precio)
                </div>

                <div class="mb-2">
                    <b>@Html.DisplayNameFor(modelo => modelo.Producto.Stock):</b>
                    @Html.DisplayFor(modelo => modelo.Producto.Stock)
                </div>

                <div class="mb-2">
                    <b>@Html.DisplayNameFor(modelo => modelo.Producto.CodigoBarras):</b>
                    @Html.DisplayFor(modelo => modelo.Producto.CodigoBarras)
                </div>

            </div>

        </div>

    </div>

    <div class="mt-3">

        <a class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.Producto.Id"> Editar </a>

        <a class="btn btn-primary" asp-page="./Index">Regresar </a>

    </div>

</div>
