@page
@model Web.Pages.Productos.IndexModel
@{
}
<h1>Lista de Productos</h1>

<div class="container">

    <div class="text-center mb-4">
        <a type="button" class="btn btn-success btn-lg" asp-page="./Agregar">
            <i class="bi bi-plus-square"></i> Agregar
        </a>
    </div>

    <div class="row">

        @if (Model.productos != null && Model.productos.Any())
        {
            @foreach (var producto in Model.productos)
            {
                <div class="col-md-4 mb-4">

                    <div class="card shadow-sm h-100">
                        <div class="card-body">

                            <h5 class="card-title">
                                @Html.DisplayFor(modelo => producto.Nombre)
                            </h5>

                            <h6 class="card-subtitle mb-2 text-muted">
                                Categoría: @Html.DisplayFor(modelo => producto.Categoria)
                            </h6>

                            <p class="card-text">
                                @Html.DisplayFor(modelo => producto.Descripcion)
                            </p>

                            <p class="card-text">
                                <strong>SubCategoría:</strong> @Html.DisplayFor(modelo => producto.SubCategoria)
                            </p>

                            <p class="card-text">
                                <strong>Precio:</strong> $@Html.DisplayFor(modelo => producto.Precio)
                            </p>

                            <p class="card-text">
                                <strong>Stock:</strong> @Html.DisplayFor(modelo => producto.Stock)
                            </p>

                            <p class="card-text">
                                <strong>Código Barras:</strong> @Html.DisplayFor(modelo => producto.CodigoBarras)
                            </p>

                            <a class="btn btn-primary" asp-page="./Detalle" asp-route-id="@producto.Id">
                                Detalle
                            </a>

                            <a class="btn btn-warning" asp-page="./Editar" asp-route-id="@producto.Id">
                                Editar
                            </a>

                            <a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@producto.Id">
                                Eliminar
                            </a>

                        </div>
                    </div>

                </div>
            }
        }

    </div>
</div>